#wrapper-navbar {
  z-index: 111;

  .custom-logo-link {
    max-width: 163px;
    @include media-breakpoint-down(md) {
      max-width: 133px;
    }
    img{
      //position: relative;
      //z-index: 1111;
    }
  }

  #main-menu {
    @include media-breakpoint-down(md) {
      --bs-navbar-padding-x: 0;
      --bs-navbar-padding-y: 0.5rem;
      --bs-navbar-color: #000000;

      --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
      --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
      --bs-navbar-brand-padding-y: 0.3125rem;
      --bs-navbar-brand-margin-end: 1rem;
      --bs-navbar-brand-font-size: 1.25rem;
      --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    }


  }

  #main-nav {
    &:hover {
      //@extend .bg-light;
      //--bs-nav-link-color: #000000;
    }


    &.navbar-dark {
      .custom-logo-link {
        img {
          //filter: brightness(7.5);
        }
      }
    }
  }

}

#new-header {

  font-family: neue-haas-grotesk-display, sans-serif;
  .menu-item {
    &:hover{
      >a{
        color: var(--#{$prefix}nav-link-hover-color);
      }
    }
    & > .nav-link {
      text-transform: uppercase;

    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 0;
    width: 100vw;
    left: 0;


    display: block;
    z-index: -21;
    opacity: 0;
    visibility: hidden;
    height: 0;
    top: -100vh;

    a[href='#'] {
      pointer-events: none;
      color: var(--#{$prefix}navbar-color)!important;

    }

    .dropdown-item {
      font-family: neue-haas-grotesk-display, sans-serif;
      font-size: 1rem;
      line-height: 1.25em;
      background: transparent !important;
      color: var(--#{$prefix}dropdown-link-color);

      &:hover {
        color: var(--#{$prefix}dropdown-link-hover-color);
      }
    }
  }

  .sub-dropdown-menu > ul {
    list-style: none;
    padding: 0;
  }

  .menu-item-has-children > a {
    font-weight: 700;
    &:hover{


    }
  }

  .dropdown {
    position: static;

    &:hover {

      & ~ &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #00000045;
      }

      & > .dropdown-menu {
        z-index: 1111;
        opacity: 1;
        visibility: visible;
        height: auto;
        top: auto;
        background: $light;
        padding: 30px 0 40px;
        box-shadow: 0px 8px 16px -9px #00000030;
        .dropdown-list {
          transform: translateY(0);
          opacity: 1;
        }


      }
    }

  }

  @for $i from 1 through 5 {
    .menu-rows-#{$i} {
      > .dropdown-menu >
      .dropdown-list {
        & > .menu-item {
          width: calc(100% / #{$i} - 20px);
        }
      }

    }
  }

  .dropdown-menu >
  .dropdown-list {
    transform: translateY(-20px);
    transition-delay: .5s;
    transition: all .3s;
    opacity: 0;
    position: relative;
    z-index: var(--bs-dropdown-zindex);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;

    border: none;
    border-radius: 0;
    @include make-container();

    @each $breakpoint, $container-max-width in $container-max-widths {

      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {

        max-width: $container-max-width;

      }
    }
  }

}

#navbarNavOffcanvas {
  a.js-wpml-ls-item-toggle.wpml-ls-item-toggle {

    border: 1px solid $black;
    color: $black !important;

  }
  .offcanvas-titles {
    min-height: 30px;
  }

  .collapse,
  .collapsing {

    transition: left .5s;

  }
  .navbar-nav {
    --#{$prefix}nav-link-padding-y: 0.5rem;
    --#{$prefix}nav-link-font-size: 1.25rem;
    --#{$prefix}nav-link-color: var(--#{$prefix}black);
  }
  .dropdown-menu{
    --#{$prefix}dropdown-font-size: 1rem;
  }

  .mobile-nav__menu-trigger {
    &:after {
      content: '';
      background-image: $icon-right-svg;
      width: 10px;
      height: 18px;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      top: 7px;
    }
  }

  .offcanvas-back {

    &:not(.show) {
      display: none;
    }

    &:before {
      content: '';
      margin-right: 10px;
      background-image: $icon-left-svg;
      width: 10px;
      height: 18px;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      top: 2px;
    }
  }

  .collapse-menu {
    display: block !important;

    &.collapse:not(.show) {
      left: +200% !important;
    }

    padding: 0;

    z-index: 111;

    & > ul {
      list-style: none;
      padding: var(--#{$prefix}offcanvas-padding-y) var(--#{$prefix}offcanvas-padding-x);


      & > .menu-item {
        display: block;
      }
    }

    .accordion-button,
    .dropdown-item {
      --#{$prefix}nav-link-padding-y:0.3rem;
      padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
      font-size: var(--#{$prefix}nav-link-font-size);
      font-weight: var(--#{$prefix}nav-link-font-weight);
      color: var(--#{$prefix}nav-link-color);
      text-wrap-mode: wrap;
      text-decoration: none;
    }

    .dropdown-item {
      &[href="#"] {
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .03em;
        line-height: 1em;
        padding-bottom: 1rem;
      }
    }


  }

  .accordion-collapse {
    ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
    }

    a {
      font-family: neue-haas-grotesk-display, sans-serif;
      font-size: 1rem;
      line-height: 1.25em;
      text-decoration: none;
    }
  }


}



.wpml-ls-legacy-dropdown {
  width: 4.5em;
  @include media-breakpoint-down(sm) {
    //width: 2.5em;
    //.wpml-ls-native {
    //  display: none;
    //}
  }

}

a.js-wpml-ls-item-toggle.wpml-ls-item-toggle {
  @include media-breakpoint-down(sm) {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}