// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$black: #000000;
$white: #fff;
$secondary: #555555;
$danger: #333333;
$danger: #DDDDDD;
$light: #F0F2F2;
$danger: #9A9DB1;
$danger: #030712;
$danger: #374151;
$danger: #C8102E;

$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $black; // Once we've changed the value, we'll also make it the primary brand color.

$bg-nav-bar: rgb(85, 85, 85);
// NAv

$nav-link-font-weight: 700;
$nav-link-font-size: 12px;
$navbar-light-color: $black;
$navbar-dark-color: $white;
$navbar-light-hover-color: $danger;
$navbar-dark-hover-color: $danger;
$nav-link-hover-color: $danger;
$nav-link-padding-y:1.4rem;


$dropdown-border-radius: 0;
$dropdown-bg: transparent;
$dropdown-link-hover-color: $navbar-light-hover-color;
$dropdown-link-hover-bg: none;
$dropdown-font-size: 0.8rem;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 5px;
$dropdown-border-width: 0;
// Body Background
$body-bg: $light;

// btn
$btn-border-radius: 62.4375rem;
$btn-padding-x: 24px;
$btn-padding-y: 12px;
$btn-font-family: neue-haas-grotesk-display, sans-serif;
$btn-font-size: .75rem;
//$btn-border-color: $btn-color

$headings-font-family: neue-haas-grotesk-display, sans-serif;
$headings-font-weight: 700;
$h1-font-size: 6.5rem;
$h2-font-size: 5rem;
$h3-font-size: 3rem;
$h4-font-size: 2.5rem;
$h5-font-size: 2rem;


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1277px
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1460px
);

$input-bg: $white;
$input-border-radius: 50px;
$input-padding-y: 10px;
$input-padding-x: 20px;

$accordion-border-radius: 0;
$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-padding-x: 0;
$accordion-body-padding-x: 0;
$accordion-border-width: 0;

$accordion-button-focus-box-shadow: 0 0 0 0;
$icon-right-svg: url("data:image/svg+xml,%3Csvg class='icon icon--caret-right' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 17.75'%3E%3Ctitle%3ECaret - Right%3C/title%3E%3Cpath d='m.87,17.75c-.22,0-.45-.08-.62-.26-.34-.34-.34-.9,0-1.24l7.38-7.38L.26,1.49C-.09,1.15-.09.6.26.26.6-.09,1.15-.09,1.49.26l8,8c.34.34.34.9,0,1.24L1.49,17.49c-.17.17-.4.26-.62.26Z'%3E%3C/path%3E%3C/svg%3E");
$icon-left-svg: url("data:image/svg+xml,%3Csvg class='icon icon--caret-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 17.75'%3E%3Ctitle%3ECaret - Left%3C/title%3E%3Cpath d='m8.87,17.75c-.22,0-.45-.08-.62-.26L.26,9.49c-.34-.34-.34-.9,0-1.24L8.26.26c.34-.34.9-.34,1.24,0,.34.34.34.9,0,1.24l-7.38,7.38,7.38,7.38c.34.34.34.9,0,1.24-.17.17-.4.26-.62.26Z'%3E%3C/path%3E%3C/svg%3E");
$icon-plus-svg: url("data:image/svg+xml,%3Csvg class='icon icon--plus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ctitle%3EPlus%3C/title%3E%3Cpath d='m7.12,15.12c0,.48.39.88.88.88s.88-.39.88-.88v-6.25h6.25c.48,0,.88-.39.88-.88s-.39-.88-.88-.88h-6.25V.88c0-.48-.39-.88-.88-.88s-.88.39-.88.88v6.25H.88c-.48,0-.88.39-.88.88s.39.88.88.88h6.25v6.25Z'%3E%3C/path%3E%3C/svg%3E");
$icon-minus-svg: url("data:image/svg+xml,%3Csvg class='icon icon--minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 1.75'%3E%3Ctitle%3EMinus%3C/title%3E%3Cpath d='m16,.88c0,.48-.39.88-.88.88H.88c-.48,0-.88-.39-.88-.88s.39-.88.88-.88h14.25c.48,0,.88.39.88.88Z'%3E%3C/path%3E%3C/svg%3E");

$accordion-button-icon:$icon-plus-svg;
$accordion-button-active-icon:$icon-minus-svg;
