body {
  --yith-wcan-filters_colors_background: transparent
}

.hero .col-lg-6.h-100:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(184deg, black, transparent 40%);
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.wpcf7 textarea {
  border-radius: 25px;

}

.img-mh-85 img{
  max-height: 75vh;
  object-fit: cover;
}

.img-mh-75 img{
  max-height: 75vh;
  object-fit: cover;
}

.img-mh-65 img{
  max-height: 75vh;
  object-fit: cover;
}

.ofc {
  object-fit: cover;
}

#woocommerce-wrapper h2 {
  @extend h4;
}

.btn-outline-primary,
.btn-light {
  --bs-btn-bg: #fff;
}

.container-fluid {
  @include media-breakpoint-up(xxl) {
    --#{$prefix}gutter-x: 100px;

  }
  @include media-breakpoint-between(lg, xxl) {
    --#{$prefix}gutter-x: 60px;
  }
}

.search-box {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  input {
    transition: width .3s ease;
    width: 0;


    ~ button {
      width: 0;
      opacity: 0;
      visibility: hidden;
      font-size: 0;

    }

    &:focus {
      width: 200px;

      ~ button {
        width: 26px;
        height: 100%;
        //opacity: 1;
        visibility: visible;
        position: absolute;
        left: 4px;
        background: transparent;
      }

    }
  }

  &.focus {
    input {
      //width: 200px;
    }
  }

}

.search-form {
  input[type='search'] {
    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }
  }
}

.tax-product_cat {
  .yith-wcan-filter[data-taxonomy='product_cat'] li.filter-item.checkbox.active.level-0 > label {
    display: none;
  }

  .yith-wcan-filters .yith-wcan-filter[data-taxonomy='product_cat'] .filter-item.level-0.active ul {
    padding-left: 0;
  }

  .yith-wcan-filter[data-taxonomy='product_cat'] li.filter-item.checkbox.level-0 {
    display: none;
  }
}


.yith-wcan-filter[data-taxonomy='product_cat']:has(li.filter-item.checkbox.active.level-1) {
  //display: none;
}



.yith-wcan-filters .filter-item.checkbox > label {
  display: flex;
  gap: 5px;
  //align-items: center;
}

.yith-wcan-filters .filter-item.checkbox.level-0 > label:not(:last-child) {
  margin-bottom: 10px;
}

.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.disabled {
  display: none !important;
}

.yith-wcan-filter[data-taxonomy='product_cat'] li.filter-item.checkbox.level-0:has(.level-1) {
  display: block;
}

.archive {
  .yith-wcan-filter[data-taxonomy='product_cat'] .clear-selection {
    display: none;
  }

  .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.disabled {
    display: none !important;
  }
}

.tax-product_cat {
  .yith-wcan-filter[data-taxonomy=product_cat] .filter-content > .filter-items > .filter-item:not(.active) {
    display: none !important;
  }
}

@include media-breakpoint-up(md) {
  .yith-wcan-filters .filter-items.level-0 {
    max-height: 269px;
    overflow-y: auto;
  }
  .yith-wcan-filters .filter-items::-webkit-scrollbar {
    width: 8px
  }

  .yith-wcan-filters .filter-items::-webkit-scrollbar-track {
    background: #e1e1e1
  }

  .yith-wcan-filters .filter-items::-webkit-scrollbar-thumb {
    background: #373737
  }

  .yith-wcan-filters .filter-items::-webkit-scrollbar-thumb:hover {
    background: #777
  }

}


.wpml-ls-legacy-list-vertical{
  margin-bottom: 0;
}

.search-results {
  .yith-wcan-filters .yith-wcan-filter[data-taxonomy=product_cat] .filter-item.level-0.active ul {
    padding-left: 15px;
  }

  .yith-wcan-filter[data-taxonomy=product_cat] li.filter-item.checkbox.active.level-0 > label,
  .yith-wcan-filter[data-taxonomy=product_cat] li.filter-item.checkbox.level-0,
  .yith-wcan-filter[data-taxonomy=product_cat]:has(li.filter-item.checkbox.active.level-1) {
    display: block;
  }
}

.sub-tax {
  .yith-wcan-filter[data-taxonomy=product_cat] {
    display: none;
  }
}

.yith-wcan-filters .yith-wcan-filter .filter-title.collapsable {

  &:after {
    background-size: 20px 20px;
    background-position: center;
    width: 15px;
    height: 15px;
  }

  &.opened {
    //height: 10px;
    //width:  10px;
    &:after {
      background-image: $icon-minus-svg;

    }
  }

  &.closed {
    &:after {
      background-image: $icon-plus-svg;

    }
  }

}

.yith-wcan-filters .yith-wcan-filter .filter-items {
  display: flex;
  flex-direction: column;
}

.menu-footer-copyright-container {
  .nav {
    --#{$prefix}nav-link-padding-y: .4rem;
    @include media-breakpoint-down(md) {
      --#{$prefix}nav-link-padding-x: 0rem;
      flex-direction: column;
    }
  }
}
.about-banner{
  .bg{
    background-image: var(--img-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #252525;
    @include media-breakpoint-down(md){
      background-image: var(--img-bg-mobile);
    }
  }
}

.accordion-button::after {
  background-position: center;
}
#wpadminbar{
  position: absolute;
}
html{
  margin-top: 0!important;
}
.dropdown-item {
  white-space: normal;
}
.ar-1 {
  aspect-ratio: 1;
}
@for $i from 16 through 1 {

  @each $breakpoint, $container-max-width in $container-max-widths {

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      .arv-#{$i}-#{$breakpoint} {
        aspect-ratio: $i / 16;

      }
    }
  }
  .arv-#{$i} {
    aspect-ratio: $i / 16;
  }

}

@for $i from 16 through 1 {

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      .arh-#{$i}-5-#{$breakpoint} {
        aspect-ratio: 16 / $i/2;

      }
      .arh-#{$i}-#{$breakpoint} {
        aspect-ratio: 16 / $i;
      }
    }

  }
  .arh-#{$i} {
    aspect-ratio: 16 / $i;

  }
}

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .arv-31-#{$breakpoint} {
      aspect-ratio: 3 / 1;
    }
    .arv-34-#{$breakpoint} {
      aspect-ratio: 3 / 4;
    }
    .arv-43-#{$breakpoint} {
      aspect-ratio: 4 / 3;
    }
  }
}

@for $i from 16 through 6 {
  .order-#{$i} {
    order: $i;
  }
}
